@font-face {
    font-family: "Source Sans Pro";
    src: url('../fonts/SourceSansPro-Regular.otf');
}


body{
    background: #fff !important;
    /*font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;*/   
    font-family: "Source Sans Pro";
}

hr{
    margin-top: 0;
    margin-bottom: 5px;
}

textarea {
    min-height: 60px;
    overflow: hidden;
    resize:none;
    word-wrap:break-word;
}

.glyphicon-camera{
    margin-right:1.5rem;
}

article{
    background: rgb(249,252,247);
    background: -moz-linear-gradient(top, rgba(249,252,247,1) 0%, rgba(245,249,240,1) 81%);
    background: -webkit-linear-gradient(top, rgba(249,252,247,1) 0%,rgba(245,249,240,1) 81%);
    background: linear-gradient(to bottom, rgba(249,252,247,1) 0%,rgba(245,249,240,1) 81%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fcf7', endColorstr='#f5f9f0',GradientType=0 );
}


li{
    list-style-type: none;
}

h2,h3{
    margin-top: .30rem;
}

/*.img-circle{
    max-width: 40px;
    max-height: 40px;
}*/

.my-form-control {
    
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.link{
    margin: 0.4rem;
    border: 1px #e7e7e7 solid;
    padding-left: 1%;
    background: #f2f2f2;
}

.form{
    margin:2.5rem;
}

.navbar-default{
    background: rgb(249,252,247);
background: -moz-linear-gradient(top, rgba(249,252,247,1) 0%, rgba(245,249,240,1) 81%);
background: -webkit-linear-gradient(top, rgba(249,252,247,1) 0%,rgba(245,249,240,1) 81%);
background: linear-gradient(to bottom, rgba(249,252,247,1) 0%,rgba(245,249,240,1) 81%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fcf7', endColorstr='#f5f9f0',GradientType=0 );
}

.breadcrumb{
    background: none;
    padding: 0;
    margin-bottom: 1%;
}

.light-text{
    color: rgba(0,0,0,.44);
}

.bold-text{
    font-weight: bold;
    /*font-size: 15px;*/
}

.glyphicon{
    /*color: #4DC2E6;
    font-size: 25px;
    top:5px;*/
    margin-left: 1%;
}

.fa{
    color: #4DC2E6;
    font-size: 25px;
    float: right;
    margin-left: 1%;
}


.icon{
    margin-right: 2px;
    font-size: 18px;
}

.custom-list{
    margin-top: 1.5rem;
}

.single-text{
    line-height: 35px;
    margin-top: 1.5rem;
    text-align: justify;
}

/* Modified By Joy*/

.btn{
    background: #3bce7a;
    color: #fff;
    /*border-radius: 0 12px 0 12px;*/
    -webkit-transition: all 0.3s;  /*Safari */
    transition: all 0.3s;
}

.btn:hover{
    background: #4DC2D9;
    color: #fff;
    font-weight: bold;
    /*border-radius: 12px 0 12px 0;*/
}

.btn:focus,.btn:active {
    /*outline: none !important;*/
    background: #4DC2D9;
    color: #fff;
    font-weight: bold;
}

.my-btn{
    width: 20%;
}

.close-btn:hover{
    background: #f44336; 
    -webkit-transition: all 0.3s; /* Safari */
    transition: all 0.3s;
}

.post{
    border-radius: 0;
}

.post:visited{
    
    border-radius: 0;
}



.modal-content {
    position: relative;
    background-color: #fff;

    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 0px;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.5);
    box-shadow: 0 3px 9px rgba(0,0,0,0.5);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    outline: 0;
}

.modal-body{
    min-height: 30rem!important;
}








#affix1.affix {
    top: -5.3rem;
    z-index: 2;
    width: 100%;
}

#affix1.affix + .container{
  padding-top: 120px;
}






.ba {
    border-style: solid;
    border-width: 1px;
}

.b--black-10 {
    border-color: rgba(0, 0, 0, .1);
}

.br2 {
    border-radius: .25rem;
}

.br--top {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.db {
    display: block;
}

.dt {
    display: table;
}

.dtc {
    display: table-cell;
}

.lh-copy {
    line-height: 1.6;
}

.mw5 {
    max-width: 16rem;
}

.w-100 {
    width: 100%;
}

.dark-gray {
    color: #333;
}

.mid-gray {
    color: #555;
}

.pa2 {
    padding: .5rem;
}

.mt1 {
    margin-top: .25rem;
}

.mt2 {
    margin-top: .5rem;
}

.mv0 {
    margin-top: 0;
    margin-bottom: 0;
}

.mv4 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.tr {
    text-align: right;
}

.f5 {
    font-size: 1rem;
}

.f6 {
    font-size: .875rem;
}

.measure {
    max-width: 30em;
}

.center {
    margin-right: auto;
    margin-left: auto;
}

@media screen and (min-width: 48em) {
    .pb3-ns {
        padding-bottom: 1rem;
    }

    .ph3-ns {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .f4-ns {
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 48em) and (max-width: 64em) {
    .w-50-m {
        width: 100%;
    }
}

@media screen and (min-width: 64em) {
    .w-25-l {
        width: 100%;
    }
}

.dt {
    display: table;
}

.dtc {
    display: table-cell;
}

.lh-copy {
    line-height: 1.6;
}

.mw5 {
    max-width: 16rem;
}

.mw6 {
    max-width: 32rem;
}

.pl3 {
    padding-left: 1rem;
}

.center {
    margin-right: auto;
    margin-left: auto;
}

.v-mid {
    vertical-align: middle;
}

@media screen and (min-width: 48em) {
    .pv6-ns {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }
}

@media screen and (min-width: 48em) and (max-width: 64em) {
    .pv5-m {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}


.db {
    display: block;
}

.dib {
    display: inline-block;
}

.link {
    text-decoration: none;
    transition: color .15s ease-in;
}

.mid-gray {
    color: #555;
}

.pv4 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.ph2 {
    padding-left: .5rem;
    padding-right: .5rem;
}

.ph3 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.mt3 {
    margin-top: 1rem;
}

.tc {
    text-align: center;
}

.ttu {
    text-transform: uppercase;
}

.f6 {
    font-size: .875rem;
}

.dim {
    opacity: 1;
    transition: opacity .15s ease-in;
}

@media screen and (min-width: 48em) and (max-width: 64em) {
    .ph5-m {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

@media screen and (min-width: 64em) {
    .ph6-l {
        padding-left: 8rem;
        padding-right: 8rem;
    }
}


.ba {
    border-style: solid;
    border-width: 1px;
}

.b--black-10 {
    border-color: rgba(0, 0, 0, .1);
}

.br-100 {
    border-radius: 100%;
}

.dib {
    display: inline-block;
}

.h2 {
    height: 2rem;
}

.link {
    text-decoration: none;
    transition: color .15s ease-in;
}

.w2 {
    width: 2rem;
}

.gray {
    color: #777;
}

.bg-near-white {
    background-color: #f4f4f4;
}

.pa2 {
    padding: .5rem;
}

.pv4 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.ph3 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.mr3 {
    margin-right: 1rem;
}

.tc {
    text-align: center;
}

.dim {
    opacity: 1;
    transition: opacity .15s ease-in;
}

@media screen and (min-width: 48em) {
    .ph5-ns {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}


.ba {
    border-style: solid;
    border-width: 1px;
}

.b--black-10 {
    border-color: rgba(0, 0, 0, .1);
}

.b--black-05 {
    border-color: rgba(0, 0, 0, .05);
}

.br3 {
    border-radius: .5rem;
}

.br-100 {
    border-radius: 100%;
}

.dib {
    display: inline-block;
}

.fw4 {
    font-weight: 400;
}

.h4 {
    height: 8rem;
}

.mw5 {
    max-width: 16rem;
}

.w4 {
    width: 8rem;
}

.gray {
    color: #777;
}

.bg-white {
    background-color: #fff;
}

.pa2 {
    padding: .5rem;
}

.pa3 {
    padding: 1rem;
}

.mb2 {
    margin-bottom: .5rem;
}

.mt0 {
    margin-top: 0;
}

.mv3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.tc {
    text-align: center;
}

.f3 {
    font-size: 1.5rem;
}

.f5 {
    font-size: 1rem;
}

.center {
    margin-right: auto;
    margin-left: auto;
}

@media screen and (min-width: 48em) {
    .pa4-ns {
        padding: 2rem;
    }
}




.ba {
    border-style: solid;
    border-width: 1px;
}

.b--black-20 {
    border-color: rgba(0, 0, 0, .2);
}

.db {
    display: block;
}

.dib {
    display: inline-block;
}

.b {
    font-weight: bold;
}

.link {
    text-decoration: none;
    transition: color .15s ease-in;
}

.list {
    list-style-type: none;
}

.dark-gray {
    color: #333;
}

.pa2 {
    padding: .5rem;
}

.pv4 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.ph3 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.mr1 {
    margin-right: .25rem;
}

.mb2 {
    margin-bottom: .5rem;
}

.f6 {
    font-size: .875rem;
}

.dim {
    opacity: 1;
    transition: opacity .15s ease-in;
}

@media screen and (min-width: 48em) {
    .ph5-ns {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .f5-ns {
        font-size: 1rem;
    }
}

.tags{
    font-size: 15px;
}

.tags:hover{
    text-decoration: none;
}

/*Added By Joy*/
.order-by-container button{
    margin-right: 30px;
}
.order-by-container button:active{
    color: blue;
    background: green;
}
.posts-section article{
    margin-bottom: 10px; 
}
.category-search-item{
    cursor: pointer;
}
.like-comment-btn-section{
    padding-left: 1.0cm;
    padding-bottom: 0.8cm;
}

.all-interactions > a, .all-counts a{
    display: inline-block;
    font-weight: bold;
    width: 20%;
}
.like-btn, .upvote-btn, .downvote-btn, .comment-btn{
    color: #7f7f7f;
}
.liked-btn{
    color: green;
}

.upvoted-btn{
    color: green;
}

.downvoted-btn{
    color: green;
}

.comments, .comment{
    padding: 1.5rem;
}
.comment{
    border: 1px solid rgba(72, 72, 72, 0.07);
}
