

.wrap{
	font-family: sans-serif;
}

marquee{
	padding:8px;
}

p{
	text-align: center;
	color: gray;
}

h3{
	color: #1fa345;
}

h3:hover{
	cursor: pointer;
	color: #428BCA;
	font-size: 23px;
}

li{
	font-size: 17px;
}

a{
	font-size: 15px;
}

body{
	margin-left: 10px;
	margin-right: 10px;
}


/*for slider*/
.carousel .item {
    width: 100%; /*slider width*/
    max-height: 600px; /*slider height*/
}
.carousel .item img {
    width: 100%; /*img width*/
}
/*add some makeup*/
.carousel .carousel-control {
    background: none;
    border: none;
    top: 50%;
}
/*full width container*/
@media (max-width: 767px) {
    .block {
        margin-left: -20px;
        margin-right: -20px;
    }
}

/*end for slider*/

@media (max-width: 400px) {
  	.single{
  		font-size: 17px;
		text-align: justify;
		padding-top: 10px;
	}
}

@media (min-width: 401px) and (max-width: 800px) {
  	.single{
  		font-size: 17px;
		text-align: justify;
		padding-top: 10px;
	}
}
@media (min-width: 801px) {
  	.single{
  		font-size: 17px;
		text-align: justify;
		padding-top: 65px;
	}
}

.badge{
	background-color: #1fa345;
}



.add{
	display: block;
	margin: auto;
	padding: auto;
	text-align: center;
}


.logo{
	display: block;
	margin: auto;
	padding: auto;
}

.address{
	text-align: center;	
	top:1em;
	bottom: 1em;
}

.border{
	border-top: 0px white solid;
}

.nav-tabs{
	font-weight: bold;
}

/*
.glyphicon{
	color: rgba(157, 35, 37, 1);
}*/








